.wrap{
    min-width: 400px;
    width: 60%;
    height: 80vh;
    min-height: 80vh;
    max-height: 80vh;
    background-color: #FFF;
    padding: 5%;
    border-radius: 20px;
    overflow: auto;
    overflow-x: hidden;
}

.wrap::-webkit-scrollbar {
    width: 0px;               /* ширина scrollbar */
  }
  .wrap::-webkit-scrollbar-track {
    background: #FFF;        /* цвет дорожки */
  }
  .wrap::-webkit-scrollbar-thumb {
    background-color: #FFF;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 0px solid #FFF;  /* padding вокруг плашки */
  }